small{
    display:block;
    min-height:20px;
    margin-top:5px;
    font-size:14px;
}

textarea{
    resize:none;
}

.is-valid{
    border:2px solid #198754 !important;
}

.is-invalid{
    border:2px solid #dc3545 !important;
}